# Installs the current package from setup.cfg
-e .

# As well as these dev tools:
mypy==0.910
black
flake8
pytest
isort
pre-commit
sphinx
sphinx_rtd_theme

# mypy type stubs:
types-PyYAML
types-aiofiles 
types-orjson 
types-python-dateutil 
types-redis 
types-requests 
types-ujson
types-jwt